body{
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;    
    box-sizing: border-box;
    margin: 0;    
    height: 80vh;
    text-align: center;    
    background-color: #f0f0f0;
}
button{
    font-family: 'Oswald', sans-serif;
    width: 100%;
    padding: 1%;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.5rem;
}

.number{
    background-color: #25D366;
    color: whitesmoke;
}
h1{
    font-size: 2rem;
}
input{
    font-family: 'Oswald', sans-serif;
    width: 100%;
    padding: 1%;
    font-size: 1.3rem;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
section{
    width: 50%;
    padding: 5% 10%;    
    display: flex;
    justify-content: center;
    align-items: center;
}
.hide{
    display: none;
}

.show{
    display: block;
}